.pageNumber.selectedPage {
    font-weight: bold;
    padding: 5px;
    background-color: rgb(34, 150, 185);
    border: 1px solid black;
}

.paginator{
    margin: 10px;
}

.pageNumber{
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px auto;
}